<br>
What job would you like to search? 
<hr>

<div class="container">

  <form id="search-bar" method="post" action="/searchjob">

    <label class="label" for="search">Jobs </label>
    <input type="text" name="search">
    <label class="label" for="search">Location </label>
    <input type="text" name="location">

    <div class="submit"><input type="submit" value="Search!"></div>
  </form>

  <div class="results">
    <%if !!@jobs%>

      <div class="job">
        <% @jobs.each do |job| %>
          <h1><%= job.jobtitle %></h1>
          <p><%= job.company %></p>
          <p><%= job.location %></p>
          <p><%= job.snippet %></p>
          <p><%= job.url %></p> 
          <!-- style url into a button or something -->
          <p><%= job.jobkey %></p>
      </div>

      <div class="company"
          <% find_company(job.company) %>
          <% if !!@information %>
            <p><%= @information["name"] %></p>
            <p><%= @information["website"] %></p>
            <p><%= @information["overallRating"] %></p>
            <img src="<%= @information["squareLogo"] %>" alt="#{job.company} logo">
          <%end%>
      </div>
        <% end %>

    <%end%>
  </div>

  <div class="footer">

    
  
  </div>
</div>