<div class="container">

  <img src="https://www.jippostore.com/jippo/img/logo-j.png" alt="web app logo" width="100px" height="100px"> 

  <h1>Job Hunt</h1>
  

  <form id="search-bar" class="btn btn-default" method="post" action="/searchjob">
    <input class="btn btn-default" type="text" name="search" placeholder= "Job Title">
    <input class="btn btn-default" type="text" name="location" placeholder= "Location">
    <input class="btn btn-default" type="submit" value="Search!">
  </form>

</div>

  <div class="results">
    <%if !!@jobs%>

        <% @jobs.each do |job| %>
      <div class="job">
          <h1><%= job.jobtitle %></h1>
          <p><%= job.location %></p>
          <p>Job Snippet: <%= job.snippet %></p>
          <a href="<%= job.url %>">See Full Description!</a>
      </div>

      <div class="company">
        <h2><%= job.company %></h2>
        <p><%= job.website %></p>
        <p><%= job.rating %></p>
        <img src="<%=job.logo%>" width="160px" height="160px" alt="<%=job.company%> logo">
      </div>
        <% end %>

    <%end%>
  </div>

  <div class="footer">

    <form id="home" method="get" action="/">
      <input class="btn btn-default" type="submit" value="Home!">
    </form>

  </div>

