<br>
Which company would you like to search? 
<hr>

<div class="container">
  <form id="search-bar" method="post" action="/searchcompany">

    <label class="label" for="search">Search Companies!</label>
    <input type="text" name="search">

    <div class="submit"><input type="submit" value="Search!"></div>
  </form>

  <br>

  <form id="search-bar" method="post" action="/searchjob">

    <label class="label" for="search">Search Jobs!</label>
    <input type="text" name="search">

    <div class="submit"><input type="submit" value="Search!"></div>
  </form>

  <div class="results">
    <%if !!@jobs.first%>

      <% @jobs.each do |job| %>
        <h1><%= job.jobtitle %></h1>
        <p><%= job.company %></p>
        <p><%= job.location %></p>
        <p><%= job.snippet %></p>
        <p><%= job.url %></p>
        <p><%= job.jobkey %></p>

        <% find_company(job.company) %>

        <% if !!@information %>
          <p><%= @information["name"] %></p>
          <p><%= @information["website"] %></p>
          <p><%= @information["overallRating"] %></p>
          <p><%= @information["squareLogo"] %></p>
          <%end%>

      <% end %>

    <%end%>
  </div>
</div>